.chat-input {
  &__container {
    height: 200px;
    width: 100%;
    background-color: var(--chat-grey-60);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
  }
  &__textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--chat-dark-70);
    font-family: var(--chat-text-font);
    font-size: 14px;
    border: none;
    resize: none;
    outline: none;

    &-field {
      width: 100%;
      height: 100%;
    }
    &:global(.ant-input){
      height: 100% !important;
    }
  }
  &__button {
    max-width: 200px;
    width: 100%;
    height: 40px;
    background-color: var(--chat-blue-80);
    color: var(--chat-white);
    font-family: var(--chat-title-font);
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
