{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "@coax/eslint-config-fe-react"
  ],
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "rules": {
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              ["^react", "^@?\\w"],
              ["^@/providers/*"],
              ["^@/router/*"],
              ["^@/layouts/*"],
              ["^@/pages/*"],
              ["^@/containers"],
              ["^@/components/*", "components"],
              ["^@/elements/*"],
              ["^@/react-queries/*"],
              ["^@/hooks/*"],
              ["^@/helpers/*", "helpers"],
              ["^@/constants/*", "constants"],
              [".schema"],
              ["^@/types/*", ".types", "schema"],
              ["^@/assets/*"],
              ["^@/assets/*"],
              ["module.scss"],
              ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
              ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"]
            ]
          }
        ]
      }
    }
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "func-call-spacing": "off",
    "@typescript-eslint/no-empty-function": "off",
    "no-useless-escape": "warn",
    "react/prop-types": "off",
    "@typescript-eslint/camelcase": ["off"],
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "no-unused-vars": "off",
    "no-undefined": "off",
    "no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "indent": "off",
    "implicit-arrow-linebreak": "off",
    "no-console": ["warn", { "allow": ["info", "error"] }],
    "no-shadow": "off"
  },
  "env": {
    "es2020": true
  }
}
