.dashboard {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 50px);
  }
  &__title {
    max-width: 500px;
    font-family: var(--host-title-font);
    color: var(--host-dark-70);
    font-size: 24px;
    font-weight: 900;
    width: 100%;
    padding-bottom: 17.5px;
  }
}
