.fullWidth {
  width: 100%;
}

.chat-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-width: 2px;

  &__large {
    height: 50px;
    padding: 8px 60px;
    font-size: 16px;
  }

  &__middle {
    height: 40px;
    padding: 8px 40px;
    font-size: 14px;
  }

  &__small {
    height: 30px;
    padding: 8px 20px;
    font-size: 12px;
  }

  &__primary {
    border: 2px solid var(--chat-blue-60);
    color: var(--chat-white);
    background-color: var(--chat-blue-80);

    &.danger {
      background-color: var(--chat-red-20);
      border-color: var(--chat-ui-error-50);
    }
  }

  &__icon {
    border: none;
    background-color: none;
    min-width: auto;
    box-shadow: none;

    & > div {
      display: none;
    }
  }

  &__ghost {
    color: var(--chat-dark-90);

    border: 2px solid var(--chat-grey-60);
    background: var(--chat-white);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.btn-with-icon {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
  gap: 7px;

  span {
    margin: 0 !important;
  }
}
