.container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    gap: 24px;
}
.description {
    display: flex;
    gap: 8px;
    &__icon{
        width: 20px;
        height: 20px;
    }
    &__text{
        color: var(--chat-dark-70);
        margin: 0;
        font-size: 14px;
        line-height: 150%;
        font-family: var(--chat-primary-font);

        &-selection{
            color: var(--chat-blue-40);
        }
    }
}
.step {
    &-list{
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__title{
            font-size: 14px !important;
            line-height: normal !important;
            font-family: var(--chat-primary-font);
            font-weight: 500 !important;
        }
    }
    &-item{
        display: flex;
        align-items: center;
        gap: 8px;

        &__icon{
            width: 20px;
            height: 20px;
            & path {
                fill: var(--chat-blue-80);
            }
        }
        &__text{
            font-size: 14px;
            font-weight: 400;
            font-family: var(--chat-primary-font);
        }
    }
}