.container {
  width: 100vw;
  height: calc(100vh - 50px);

  & :global {
    .leaflet-container {
      width: 100vw;
      height: calc(100vh - 50px);
    }
  }
}
.clusterMarker {
  width: 25px;
  height: 25px;
  background: #1978c8;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crime-marker {
  width: 25px;
  height: 25px;
  background: #1978c8;
  border-radius: 50%;
}
