.host-drawer {
  :global {
    .ant-drawer-header {
      padding: 32px 26px;
    }

    .ant-drawer-header-title {
      display: flex;
      flex-direction: row-reverse;
    }

    .ant-drawer-close {
      margin: 0;

      & > span > svg {
        width: 18px;
        height: 18px;
      }
    }

    .ant-drawer-title {
      color: var(--host-grey-90);
      font-style: normal;
      font-weight: 500;
      line-height: 21.5px;
    }

    .ant-drawer-footer {
      padding: 24px 26px;
    }

    .ant-drawer-body {
      padding: 28px 26px;
    }
  }
}
